main {
  display: flex;
  gap: 20px; /* 區塊間距 */
}
section {
  flex: 3; /* 主要內容佔比較多 */
  background-color: #f9f9f9;
  padding: 15px;
}
aside {
  flex: 1; /* 側邊欄比較窄 */
  background-color: #eee;
  padding: 15px;
}
body{
  background-color: #f0f8ff;
}
/* 導覽列樣式 */
.navbar {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex; /*啟用flex排版*/
  background: #4a90e2;
  border-radius: 6px;
  gap: 20px 0; /*連結之間的間隔*/
  justify-content: center; /*水平置中*/
}

.navbar li {
  flex: 1;  /* 平均分配寬度 */
}

.navbar a {
  display: block;
  padding: 12px;
  text-align: center;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.navbar a:hover {
  background: #00108a;/*滑鼠移上去的顏色*/
}
.updates {
  margin: 20px 0;
  padding: 15px;
  background: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.update-box {
  max-height: 120px;   /* 控制區塊高度 */
  overflow-y: scroll;  /* 超出就能滾動 */
  padding: 10px;
  background: white;
  border-radius: 6px;
}

.update-box ul {
  list-style-type: disc;
  padding-left: 20px;
}

.update-box li {
  margin-bottom: 6px;
  font-size: 14px;
}
